<%= render 'shared/header', message: "#{@message.title}", link: false, path: false %>

<p><%= @message.body %></p>
<p>
  Sent by <%= link_to @message.sender.username, user_path(@message.sender) %>
  <br/>
  <small><%= link_to "Delete Message", message_path(@message), method: :delete %></small>
</p>
