<div class="well", style="text-align:center">
  <h3><%= @picture.title %></h3>
  <div><%= image_tag(src="#{@picture.image_url(:large)}") %></div>
  <br/>
  <p><%= @picture.description %></p>
</div>

<% if @picture.user == current_user %>
  <%= button_to "Delete Picture", picture_path(@picture), method: :delete, class: "btn" %>
<% end %>
