/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

div.span9 {
  padding: 0 0 20px 20px !important;
  margin: 0 !important;
}

textarea {
  width: 60%;
}

.unread {
  color: green;
  font-size: 90%;
  text-align: center;
}

#no_padding{
  padding-top: 0px;
  padding-bottom: 0px;
}

.push_right {
  text-align: right;
}

ul {
  list-style: none;
  display: table;
}

#comment_form {
  font-size: 130%;
  font-style: italic;
}

.list_space {
  margin-bottom: 30px;
}

.container {
  margin-left: 135px
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.nav.pull_right {
  float: right;
  padding-right: 50px;
}

.btn.btn-large {
  margin-right: 50px;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

small {
  color: grey;
}

