<ul class="nav nav-pills">
  <li>
    <%= link_to "Date by Blog!", root_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
    <li>
      <%= link_to "#{current_user.username}'s Profile", user_path(current_user) %>
    </li>
    <li>
      <%= link_to "Find Matches!", search_users_path %>
    </li>
  <% end %>
</ul>
<ul class='nav pull_right'>
  <% if logged_in? %>
    <li>
      <%= link_to "Logout", logout_path %>
    </li>
  <% end %>
</ul>
