<ul class="nav nav-pills">
  <li>
    <%= link_to "Date by Blog!", root_path, :class => 'brand' %>
  </li>
</ul>
<ul class='nav pull_right'>
  <% if logged_in? %>
    <li>
      <%= link_to "Logout", logout_path %>
    </li>
  <% end %>
</ul>
